html {
}

body {
    margin: 0;
    padding: 0;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

.button {
    border: none;
    background: #000;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    color: #fff;

    cursor: pointer;
}

.button--large {
    padding: 20px 30px;

    font-size: 18px;

    border-radius: 10px;
}

.button--toggle {
    padding: 10px 20px;

    background: transparent;

    border: 1px solid #000;

    border-radius: 50px;

    color: #000;

    &.button--toggle-active {
        background: #000;

        color: #fff;
    }
}

.button__count {
    margin-left: 5px;
    color: #999;
}

.button--action {
    padding: 10px 20px;

    background: #000;

    border: 1px solid #000;

    border-radius: 50px;

    color: #fff;
}

.pull--left {
    float: left;
}

.pull--right {
    float: right;
}

small {
    font-size: 90%;

    opacity: 0.5;
}