:root {
    --color-landing-text: #000;
    --color-landing-hero-text: #242424;
}

html {
}

body {
    margin: 0;
    padding: 0;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

.button {
    border: none;
    background: var(--color-button-background);

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    color: var(--color-button-text);

    cursor: pointer;
}

.button--large {
    padding: 20px 30px;

    font-size: 18px;

    border-radius: 10px;
}

.button--toggle {
    padding: 10px 20px;

    background: transparent;

    border: 1px solid var(--color-button-background);

    border-radius: 50px;

    color: var(--color-button-background);

    &.button--toggle-active {
        background: var(--color-button-background);

        color: var(--color-button-text);
    }
}

.button__count {
    margin-left: 5px;
    color: var(--color-button-count);
}

.button--action {
    padding: 10px 20px;

    background: var(--color-button-background);

    border: 1px solid var(--color-button-background);

    border-radius: 50px;

    color: var(--color-button-text);
}

.pull--left {
    float: left;
}

.pull--right {
    float: right;
}

small {
    font-size: 90%;

    opacity: 0.5;
}
