// Breakpoints.

$breakpoints: (
    sm: 400px,
    md: 800px,
    lg: 1220px,
    lg1: 1625px,
    lg2: 2030px,
    lg3: 2435px,
    lg4: 2840px,
    lg5: 3245px,
    lg6: 3650px
);

@mixin respond-above($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin respond-below($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin respond-between($lower, $upper) {
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);

        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        }
    } @else {
        @if (map-has-key($breakpoints, $lower) == false) {
            @warn 'Your lower breakpoint was invalid: #{$lower}.';
        }

        @if (map-has-key($breakpoints, $upper) == false) {
            @warn 'Your upper breakpoint was invalid: #{$upper}.';
        }
    }
}

@mixin font-header() {
    font-family: 'Calistoga', cursive;
    font-weight: 400;
}

@mixin font-main() {
    font-family: 'Source Sans Pro', sans-serif;
}

// Theme colors.

@mixin light-mode() {
    --color-landing-text: #000;
    --color-landing-hero-text: #242424;
    --color-text-faded: #787797;
    --color-text-main: #0e1111;
    --color-text-copy: #232b2b;
    --color-text-warning: #ff3f4f;
    --color-button-text: #fff;
    --color-button-background: #242424;
    --color-button-count: #999;
    --color-attention: #ff3f4f;
    --color-background-faded: #f1f1f1;
    --color-background-main: #fff;
    --color-button-light-background: #161617;
    --color-section-separator: #eaeaea;
    --color-thing-separator: #f0f0f0;
    --color-button-dark-text: #161617;
    --index-page-logo: url("/hero.jpg")
}

@mixin dark-mode() {
    --color-landing-text: #f1eeee;
    --color-landing-hero-text: #909ca5;
    --color-text-faded: #909ca5;
    --color-text-main: #f1eeee;
    --color-text-copy: #dcd4d4;
    --color-text-warning: #ff3f4f;
    --color-button-text: #000;
    --color-button-background: #fff;
    --color-button-count: #999;
    --color-attention: #ff3f4f;
    --color-background-faded: #333;
    --color-background-main: #161617;
    --color-button-light-background: #f1f1f1;
    --color-section-separator: #333;
    --color-thing-separator: #242424;
    --color-button-dark-text: #f1f1f1;
    --index-page-logo: url("/hero-dark.jpg")
}